@use '../script/ui/variables.scss';
@use '../../node_modules/normalize.css/normalize.css';

@font-face {
    font-family: 'Cascadia Code';
    src: url('../content/contrib/cascadia-code/woff2/CascadiaCode.woff2');
}

* {
    box-sizing: border-box;
}

body {
    color: variables.$foreground-base;
    background-color: variables.$background-base;
    font-family: 'Cascadia Code';
    font-size: 16px;
}

.sg-maze {
    div {
        border: outset;
        display: inline-block;
    }
    table {
        border-collapse: collapse;
        font-size: 10px;


        td {
            width: 20px;
            height: 20px;
            display: inline-block;
            vertical-align: middle;
            text-align: center;
            line-height: 1.5;
            overflow:auto;
        }

        td:not([data-type=Wall]) {
            color: lime;
        }

        td[data-type=Wall] {
            color: blue;
        }

        td[data-type=EnemyDrone] {
            color: red;
        }

        td[data-type=Loot] {
            color: yellow;
        }

        td[data-type=Wall] {
            background-color: black;
            background-color: variables.$blue;
        }
    }
}